@model Movie

<div>
    <label><b>Title:</b></label>
    <span>@Model.Title</span><br />

    <label><b>Duration:</b></label>
    <span>@Model.Duration</span><br />

    <label><b>Description:</b></label>
    <span>@Model.Description</span><br />
</div>
<br />

<div>
    <label><b>Title:</b></label>
    <span>@Model.Title2</span><br />

    <label><b>Duration:</b></label>
    <span>@Model.Duration2</span><br />

    <label><b>Description:</b></label>
    <span>@Model.Description2</span><br />
</div>
<br />

<div>
    <label><b>Title:</b></label>
    <span>@Model.Title3</span><br />

    <label><b>Duration:</b></label>
    <span>@Model.Duration3</span><br />

    <label><b>Description:</b></label>
    <span>@Model.Description3</span><br />
</div>
